.container.px-4.py-5.border-bottom(id="featured-3")
    .row.g-4.py-5.row-cols-1.row-cols-lg-3 
        .feature.col 
            .feature-icon.d-inline-flex.align-items-center.justify-content-center.text-bg-primary.bg-gradient.fs-2.mb-3.rounded-3 
                img(src="./images/icon_extension.svg", alt="extensible" width="45")
            h3.fs-2 Extensibility
            p Highly extensible, you can extend it using the most popular language - JavaScript to write anything you want.
        .feature.col 
            .feature-icon.d-inline-flex.align-items-center.justify-content-center.text-bg-primary.bg-gradient.fs-2.mb-3.rounded-3
                img(src="./images/icon_dashboard.svg", alt="extensible" width="45")
            h3.fs-2 Fast
            p based on NodeJS and MongoDB. We are tired of PHP and MySQL, so we choose better ones.
        .feature.col 
            .feature-icon.d-inline-flex.align-items-center.justify-content-center.text-bg-primary.bg-gradient.fs-2.mb-3.rounded-3 
                img(src="./images/icon_function.svg", alt="extensible" width="45")
            h3.fs-2 Multi Functional
            p From passenger system to airline coop manage system, we had done a lot of things for you. All you need to do is to set everything the way you want.