.container 
  header.d-flex.justify-content-center.py-3.border-bottom
    a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none(href="/")
      img(src="./images/nodevms.svg", alt="nodeVMS" width="70")
    ul.nav.nav-pills 
      li.nav-item 
        a.nav-link(href="/weather") 气象查询
    ul.nav.nav-pills 
      li.nav-item 
        a.nav-link(href="/content") 航司列表 
    ul.nav.nav-pills 
      li.nav-item 
        a.nav-link(href="#") 客户端 
    ul.nav.nav-pills 
      li.nav-item 
        a.btn.btn-primary(href="#" type="button") 注册 
    ul.nav.nav-pills 
      li.nav-item 
        a.nav-link(href="#") 登录 
    