.container 
  header.d-flex.justify-content-center.py-3.border-bottom
    a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none(href="/")
      img(src="./images/nodevms.svg", alt="nodeVMS" width="70")
    ul.nav.nav-pills 
      li.nav-item 
        a.nav-link(href="#featured-3") Features
    ul.nav.nav-pills 
      li.nav-item 
        a.nav-link(href="#pricing") Pricing 
    ul.nav.nav-pills 
      li.nav-item 
        a.nav-link(href="/content") Downloads 
    ul.nav.nav-pills 
      li.nav-item 
        a.nav-link(href="#") Docs 
    ul.nav.nav-pills 
      li.nav-item 
        a.btn.btn-primary(href="#" type="button") Sign up 
    ul.nav.nav-pills 
      li.nav-item 
        a.nav-link(href="#") Sign in 
    