.container(id="pricing")
    .pricing-header.p-3.pb-md-4.mx-auto.text-center 
        h2.display-4.fw-normal Pricing
        .row.row-cols-1.row-cols-md-3.mb-3.text-center 
            .col 
                .card.mb-4.rounded-3.shadow-sm 
                    .card-header.py-3 
                        h4.my-0.fw-normal Free
                    .card-body 
                        h1.card-title.pricing-card-title $0
                            small.text-muted.fw-light /mo 
                        ul.list-unstyled.mt-3.mb-4 
                            li Standalone Client
                            li 10 users included 
                            li Maximum of 10 aircraft 
                            li 10 pierps /(mo*user)
                            li Help center access
                        button.w-100.btn.btn-lg.btn-outline-primary(type="button") Sign up for free
            
            .col 
                .card.mb-4.rounded-3.shadow-sm 
                    .card-header.py-3 
                        h4.my-0.fw-normal Pro
                    .card-body 
                        h1.card-title.pricing-card-title $9.99
                            small.text-muted.fw-light /mo 
                        ul.list-unstyled.mt-3.mb-4 
                            li Standalone Client
                            li 30 users included 
                            li Maximum of 30 aircraft 
                            li 50 pierps /(mo*user)
                            li Help center access
                        button.w-100.btn.btn-lg.btn-primary(type="button") Get started

            .col 
                .card.mb-4.rounded-3.shadow-sm 
                    .card-header.py-3 
                        h4.my-0.fw-normal Ultimate
                    .card-body 
                        h1.card-title.pricing-card-title $29.99
                            small.text-muted.fw-light /mo 
                        ul.list-unstyled.mt-3.mb-4 
                            li Standalone Client
                            li No user limitation
                            li No aircraft limitation
                            li No pierp limitation
                            li Help center access
                        button.w-100.btn.btn-lg.btn-primary(type="button") Get started

        h2.display-6.text-center.mb-4 Compare plans

        .table-resposive
            table.table.text-center 
                thead 
                    tr 
                        th(style="width: 34%")
                        th(style="width: 22%") Free 
                        th(style="width: 22%") Pro 
                        th(style="width: 22%") Ultimate
                tbody 
                    tr 
                        th.text-start(scope="row") Standalone Client 
                        td 
                            img(src="./images/icon_yes.svg", alt="Yes" width="30")
                        td 
                            img(src="./images/icon_yes.svg", alt="Yes"  width="30")
                        td 
                            img(src="./images/icon_yes.svg", alt="Yes"  width="30")
                    tr 
                        th.text-start(scope="row") Maximum Manager Count 
                        td 1
                        td 3
                        td Unlimited
                    tr 
                        th.text-start(scope="row") Customizable ACARS 
                        td 
                            img(src="./images/icon_yes.svg", alt="Yes" width="30")
                        td 
                            img(src="./images/icon_yes.svg", alt="Yes"  width="30")
                        td 
                            img(src="./images/icon_yes.svg", alt="Yes"  width="30")
                    tr 
                        th.text-start(scope="row") Private Database 
                        td 
                            
                        td 
                            img(src="./images/icon_yes.svg", alt="Yes"  width="30")
                        td 
                            img(src="./images/icon_yes.svg", alt="Yes"  width="30")
                    tr 
                        th.text-start(scope="row") Permission Control 
                        td 

                        td 
                            img(src="./images/icon_yes.svg", alt="Yes"  width="30")
                        td 
                            img(src="./images/icon_yes.svg", alt="Yes"  width="30")
                    tr 
                        th.text-start(scope="row") Unlimited members 
                        td 

                        td 

                        td 
                            img(src="./images/icon_yes.svg", alt="Yes"  width="30")
                    tr 
                        th.text-start(scope="row") Data Backup 
                        td 

                        td 

                        td 
                            img(src="./images/icon_yes.svg", alt="Yes"  width="30")
                        